<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quad.xpress"
    android:installLocation="internalOnly"
    xmlns:tools="http://schemas.android.com/tools"
    android:allowBackup="false"
    tools:replace="allowBackup"

    >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <!-- needed for older devices -
    used to check app background / foreground status -->
    <uses-permission android:name="android.permission.GET_TASKS" />






    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:name=".utills.pushnotification.myapplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:fullBackupContent="false"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_gcm_notification" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary_transparent" />
        <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel"
            android:value="@string/default_notification_channel_id"/>
        <!-- [END fcm_default_channel] -->


        <!-- [START firebase_service] -->
        <service
            android:name=".utills.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service
            android:name=".utills.firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
        <service android:name=".utills.firebase.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>




        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            >

        </activity>
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop"/>

        <activity
            android:name=".viewPagers.actSwipePlaybackJava"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop"/>

        <activity
            android:name=".OTPverification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DashBoard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".CameraRecordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <receiver android:name=".CameraRecordActivity$NotificationRetry">
                <intent-filter>
                    <action android:name="Retry"/>
                    <action android:name="Ignore"/>

                </intent-filter>
            </receiver>

        </activity>



        <activity
            android:name=".AudioRecordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".contacts.ContactMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Actvity_video"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Actvity_videoPlayback_Private"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" />

        <activity
            android:name="SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SpeedyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Search_activity_list"
            android:label="Search"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".PrivatePlayListActivity"
            android:label="@string/private_lists"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Act_HelpSupportAbout"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".MyUploads"
            android:label="Your Uploads"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Act_user_data"
            android:label="User Public Uploads"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".models.tagList.Tag_list_activity_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".models.tagList.Tag_cloud_activity_new"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Act_notifications"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <service
            android:name=".contacts.contactreaderService"
            android:icon="@drawable/ic_gcm_notification"
            android:label="contactreaderService"
            >
        </service>

        <!--      local notification-->
        <receiver android:name=".CameraRecordActivity$NotificationRetry">
            <intent-filter>
                <action android:name="Retry"/>
                <action android:name="Ignore"/>

            </intent-filter>
        </receiver>

    </application>

</manifest>
